<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madcamp_w2_frontend">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGEER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.hardware.camera" android:required = "true"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Madcamp_w2_frontend"
        android:usesCleartextTraffic="true"
        android:largeHeap = "true"
        android:requestLegacyExternalStorage="true">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity
            android:name=".SplashActivity"
            android:theme = "@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShowBigImage"/>
        <activity android:name=".Third_Page.ShowWebToon"/>
        <activity android:name=".Third_Page.ShowEpisode"/>
        <activity android:name=".Second_Page.ShowCaptureImage"/>
        <activity android:name=".Second_Page.ShowBigCapture"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Signup"/>
        <activity android:name=".Signin"/>
        <activity android:name=".Fragment3_for_favorite"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
    </application>

</manifest>